.contentContainer {
    display: flex;
    justify-content: center;
}

.login-container {
    border: 2px solid #d6d6d6;
    border-radius: 25px;
    box-shadow: 10px 10px 10px #cac4c4;
    padding: 49px;
    display: inline-block;
    width: 497px;
    max-width: 97%;
}

.login-container a {
    text-decoration: none;
}